[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mateable"]
	path = mateable
	url = https://github.com/stuartwagenius/mateable
	shallow = true
	registered = true
